# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\gotin\flink-custom-connector\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
